[application]
nodeURL = "http://localhost:4545"
wsURL = "ws://localhost:4546"
contractAddress = "{{vars['relayhub_address_' + network]}}"
nodeKeyPath = "/root/lnet/data/key"
nodeAddressPath = "/root/lnet/data/nodeAddress"
port = 9001

[security]
permissionsEnabled = false
accountContractAddress = "{{localpermissioning_address}}"